*{margin:0;padding:0;box-sizing: border-box;}
h1,h2,h3,h4,em,i,b,strong{font-style:normal;font-weight:normal;}
ul,ol{list-style:none;}
a{text-decoration:none;color: #333333;}
img{vertical-align: middle;}
input,button,select{outline: none;cursor: pointer;}
